.create-acc {
  width: 90%;
  padding: 0.5px;
  max-width: 600px;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 100px;
  text-align: center;
}
.create-acc .vector {
  display: flex;
  text-align: left;
  background: #f9d37026;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}
.vector p {
  color: #666666;
}
.create-acc .verification {
  margin: 10px 5px;
}
.create-acc .verification p:nth-child(5) {
  margin: 20px 0;
  text-align: center;
}
.create-acc .verification p:nth-child(6) {
  text-align: center;
}
.create-acc .verification h2 {
  color: #1c1c1cf7;
  text-align: left;
  margin-bottom: 10px;
}
.create-acc .verification p {
  text-align: left;
  color: #1c1c1cf7;
  margin-bottom: 20px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.create-acc form {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  color: #666666;
}
.create-acc form select {
  border: none;
  color: #333;
  border-radius: 2px;
  background: #f1f1f1;
}
.create-acc form input {
  border: none;
  width: 70%;
  padding: 20px;
  border-radius: 2px;
  background: #f1f1f1;
}
.create-acc form div {
  display: block;
}
.create-acc button {
  border-radius: 10px;
  font-size: 24px;
  background: blue;
  color: #fff;
  border: none;
  width: 85%;
  padding: 15px 0;
}
